<kendo-grid [data]="gridView" [sortable]="sortableSettings" [sort]="sort" (sortChange)="sortChange($event)" [selectable]="selectableSettings"
    [pageSize]="gridSettings.pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)">
    <kendo-grid-checkbox-column [headerClass]="'grid-column-header'"></kendo-grid-checkbox-column>
    <kendo-grid-column *ngFor="let column of gridSettings.columns" field="{{ column.field }}" title="{{ column.title }}" [headerClass]="'grid-column-header'">
    </kendo-grid-column>
</kendo-grid>